<div class='scoreboard'>
  <h1>TradeMarked Word Tile Game</h1>

  <div class='active-letters'>
    <div class='letter'>H</div>
    <div class='letter'>T</div>
    <div class='letter'>P</div>
  </div>
</div>

<div class='board'>
  <table>
    <% @game.rows.each_with_index do |row, row_index| %>
      <tr>
        <% row.each_with_index do |square, column_index| %>
          <td class='square'>
            <span class='bonus'><%= square.bonus if square.premium? %></span>
            <%= square.letter(row_index, column_index) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
