.scoreboard {
  width: 39%;
  height: 100%;
  position: relative;
}

.board {
  width: 60%;
}
.board table {
  border-collapse: collapse;
  table-layout: fixed;
  border-spacing: 0;
  margin: 0 auto;
}

.scoreboard,
.board {
  display: inline-block;
  vertical-align: top;
}

.square,
.letter {
  width: 45px;
  height: 45px;

  display: table-cell;
  text-align: center;
  border: 1px solid black;
}

.square .letter {
  border: 0;
}

.square.in-use .bonus {
  display: none;
}

.submit-words {
  position: absolute;
  bottom: 0;
}

.letter.selected {
  outline: 1px solid hotpink;
}
